html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  color: #333;
  margin: 0;
  /* padding: 8px; */
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
}

a {
  color: hsla(213, 60%, 50%, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: hsla(213, 60%, 50%, 1);
}

label {
  display: block;
}

p {
  color: #CCC;
  line-height: 1.6rem;
  width: 80%
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}